# --- SECURITY ---
OPENAI_API_KEY= OPENAI KEY

# --- NOTIFICATIONS ---
DISCORD_TOKEN= BOT TOKEN
DISCORD_CHANNEL_ID=123456789... (el ID del canal de texto donde quieres los avisos)

# --- DATABASE ---
DATABASE_URL=postgresql://admin:password@localhost:5432/baseprueba_db